* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Righteous", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  margin: 1rem 4rem;
}
