main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #fefffa;
  font-family: 'Righteous', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #5C48BC;
}

.boxForGameplayAndMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
  width: 100%;
  height: 90%;
  padding: 1rem 4rem;
}

.boxForGameplay {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  border: #8168FE 2px solid;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25), 0 3px 6px rgba(0, 0, 0, .22);
}

.playboard-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 0px;
  max-height: 100%;
  width: 100%;
  z-index: 0;
  background-image: url("../../assets/board37.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.field {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  /*width: 70px;
  max-height: 70px;*/
  position: relative;
  /* Enables proper positioning for .alien */
  /*border: 1px solid #333;*/
  background-color: transparent;
  /*background-color: rgba(245, 245, 245, 0.2); /* Transparent background */
  font-size: 0.7rem;
  color: transparent;
  text-align: center;
  width: 75px;
}

.itemList {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #d9f9cf;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: #8168FE 2px solid;
}

.item {
  background-color: #fefffa;
  height: 70px;
  width: 10%;
  padding: 0.5rem;
  border-left: #8168FE 1px solid;
  border-right: #8168FE 1px solid;
}

.lockIcon {
  height: 40px;
  margin: 0 1rem;
}

#item1 {
  border: solid #FFFFBB 6px;
  border-bottom-left-radius: 5px;
}

#item2 {
  border: solid #FFDDBB 6px;
}

#item3 {
  border: solid #FFBBBB 6px;
}

#item4 {
  border: solid #FFBBDD 6px;
}

#item5 {
  border: solid #FFBBFF 6px;
}

#item6 {
  border: solid #DCBBFF 6px;
}

#item7 {
  border: solid #BBDDFF 6px;
}

#item8 {
  border: solid #BBFFFF 6px;
}

#item9 {
  border: solid #BBFFDD 6px;
}

#item10 {
  border: solid #BBFFBB 6px;
  border-bottom-right-radius: 5px;
}

.boxForMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 20%;
  height: 100%;
  background-color: #BBBBFF;
  border-radius: 5px;
  border: #8168FE 2px solid;
  /*margin: 0 .1rem;*/
  padding: 2rem 0.5rem 0 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25), 0 3px 6px rgba(0, 0, 0, .22);
}

.user img {
  width: 145px;
  padding: 1rem 1.5rem 0 1rem;
  background-color: #fefffa;
  border-radius: 5px;
  border: #8168FE 2px solid;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25), 0 3px 6px rgba(0, 0, 0, .22);
}

.settingsIcon {
  width: 50px;
  margin: 0.5rem 0;
}

.boxForSound {
  height: 80px;
  width: 140px;
  margin: 1rem 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: #8168FE 2px solid;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25), 0 3px 6px rgba(0, 0, 0, .22);
}

/* .alien {
  width: 100%;
  height: 100%;
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.alien {
  position: absolute;
  /* Ensures it's positioned within the field */
  top: 50%;
  /* Centers vertically */
  left: 50%;
  /* Centers horizontally */
  transform: translate(-50%, -50%);
  /* Adjusts position to center */
  width: 100px;
  /* Relative size to the grid cell */
  height: auto;
  /* Maintain aspect ratio */
  pointer-events: none;
  /* Allows interactions with the cell itself */
  z-index: 10;
  /* Places the alien above other elements */
  opacity: 1;
  /* Full visibility */
}