main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #fefffa;
  font-family: "Righteous", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: #5c48bc;
}

.boxForGameplayAndMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
  width: 100%;
  height: 90%;
  padding: 1rem 4rem;
}

.boxForGameplay {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.playboard-grid {
  flex: 1;
  display: grid;
  /*grid-template-columns: repeat(17, 1fr);*/
  grid-template-columns: [line1] 10.6% [line2] 8% [line3] 4.9% [line4] 1% [line5] 2.5% [line6] 0.9% [line7] 8.9% [line8] 12.3% [line9] 7.05% [line10] 7.05% [line11] 7.05% [line12] 7.05% [line13] 7.05% [line14] 7.05% [line15] 8.6% [line16];
  grid-template-rows: [line1] 12.1% [line2] 12.1% [line3] 8.1% [line4] 8.1% [line5] 10.7% [line6] 7.4% [line7] 7.4% [line8] 7.4% [line9] 10% [line10] 6.7% [line11] 10% [line12];
  gap: 0rem;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: url("../../assets/board3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: #8168fe 2px solid;
}

/* .field {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    background-color: #f5f5f5;
    font-size: 1.5rem;
    opacity: 20%;
} */

.field {
  /*display: flex;
    align-items: center;
    justify-content: center;*/
  /*width: 70px;
    max-height: 70px;*/
  position: relative; /* Enables proper positioning for .alien */
  border: 1px solid #333;
  background-color: rgba(245, 245, 245, 0.2); /* Transparent background */
  font-size: 0.7rem;
  color: #333;
}

#squareStart {
  grid-area: 4 / 4 / span 2 / span 2;
}

#square1 {
  grid-area: 6 / 3 / span 2 / span 1;
}

#square2 {
  grid-area: 2 / 7 / span 2 / span 1;
}

#square3 {
  grid-area: 9 / 4 / span 2 / span 3;
}

#square4 {
  grid-area: 6 / 1 / span 3 / span 1;
}

#square5 {
  grid-area: 3 / 9 / span 3 / span 1;
}

#square6 {
  grid-area: 6 / 10 / span 3 / span 1;
}

#square7 {
  grid-area: 2 / 11 / span 1 / span 1;
}

#square8 {
  grid-area: 6 / 12 / span 2 / span 1;
}

#square9 {
  grid-area: 3 / 13 / span 2 / span 1;
}

#square10 {
  grid-area: 8 / 14 / span 2 / span 1;
}

#squareFinish {
  grid-area: 4 / 15 / span 2 / span 1;
}

.itemList {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #d9f9cf;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: #8168fe 2px solid;
  border-top: none;
}

.item {
  background-color: #fefffa;
  /*margin: .5rem;*/
  height: 70px;
  width: 10%;
  padding: 0.5rem;
  border-left: #8168fe 1px solid;
  border-right: #8168fe 1px solid;
}

.lockIcon {
  height: 40px;
  margin: 0 1rem;
}

#item1 {
  border: solid #ffffbb 6px;
}

#item2 {
  border: solid #ffddbb 6px;
}

#item3 {
  border: solid #ffbbbb 6px;
}

#item4 {
  border: solid #ffbbdd 6px;
}

#item5 {
  border: solid #ffbbff 6px;
}

#item6 {
  border: solid #dcbbff 6px;
}

#item7 {
  border: solid #bbddff 6px;
}

#item8 {
  border: solid #bbffff 6px;
}

#item9 {
  border: solid #bbffdd 6px;
}

#item10 {
  border: solid #bbffbb 6px;
}

.boxForMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 20%;
  height: 100%;
  background-color: #bbbbff;
  border-radius: 5px;
  border: #8168fe 2px solid;
  /*margin: 0 .1rem;*/
  padding: 2rem 0.5rem 0 0.5rem;
}

.user img {
  width: 145px;
  padding: 1rem 1.5rem 0 1rem;
  background-color: #fefffa;
  border-radius: 5px;
  border: #8168fe 2px solid;
}

.settingsIcon {
  width: 50px;
  margin: 0.5rem 0;
}

.boxForSound {
  height: 80px;
  width: 140px;
  margin: 1rem 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: #8168fe 2px solid;
}

/* .alien {
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.alien {
  position: absolute; /* Ensures it's positioned within the field */
  top: 50%; /* Centers vertically */
  left: 50%; /* Centers horizontally */
  transform: translate(-50%, -50%); /* Adjusts position to center */
  width: 100px; /* Relative size to the grid cell */
  height: auto; /* Maintain aspect ratio */
  pointer-events: none; /* Allows interactions with the cell itself */
  z-index: 10; /* Places the alien above other elements */
  opacity: 1; /* Full visibility */
}
